doctype html
html(lang="en")
  head
    title title
    script(src='/javascripts/jquery.min.js')
    script(src='/socket.io/socket.io.js')
  body
    div
      | this is a layouts file
    .container
      block content