doctype html
html(lang="en")
  head
    title title
    script(src='/javascripts/application.min.js')
    script(src='/socket.io/socket.io.js')
    link(href='/stylesheets/application.min.css', rel='stylesheet')

  body
    block content