extend ../layouts/layout

block content
  script(src='/javascripts/jweixin-1.1.0.js')
  script(src='/javascripts/shake.js')
  p hello wechats index
  #info info-show
  #wechats wechats
  p #{nickname}
  p= openid
  img(src="#{headimgurl}" alt="photo")

  script.
    var socket = io.connect();
    socket.on("say", function(data){
      var count = data.msg;
      $('#info').html(count);
    });