extend ../layouts/layout

block content

  .spinner
    .double-bounce1
    .double-bounce2
  .openid
    | #{openid}
  .user-info
    .headimage
      img.circle(src="#{headimgurl}" alt="photo")
    .nickname
      | #{nickname}
    .num
      | #{num}