require 'mina/git'
require 'mina/npm'

set :term_mode, nil

set :shared_paths, ['config/application.js', 'log', 'node_modules', 'tmp']
set :forward_agent, true

set :keep_releases, 5
set :repository, 'git@xxxxx.git'
set :branch, 'master'
set :app_name, 'wechats'

case ENV['on']
when 'geeks'
  set :user, 'dev'
  set :port, 'xxxxx'
  set :domain, 'xxxxx'
  set :deploy_to, '/home/dev/wechats'
when 'geeklab'
  set :user, 'deploy'
  set :port, 'xxxx'
  set :domain, 'xxxxxxc'
  set :deploy_to, '/home/deploy/wechats'
else
  set :user, 'xxxxxx'
  set :port, 'xx'
  set :domain, 'xxxxx'
  set :deploy_to, '/home/deploy/wechats'
end

p "将要部署到 #{domain}"

task :environment do
  queue! 'source ~/.bashrc'
end

task :setup => :environment do
  queue! %[mkdir -p "#{deploy_to}/shared/log"]
  queue! %[chmod g+rx,u+rwx "#{deploy_to}/shared/log"]

  queue! %[mkdir -p "#{deploy_to}/shared/config"]
  queue! %[chmod g+rx,u+rwx "#{deploy_to}/shared/config"]

  queue! "mkdir -p #{deploy_to}/shared/node_modules"
  queue! "chmod g+rx,u+rwx #{deploy_to}/shared/node_modules"

  queue! %[touch "#{deploy_to}/shared/config/application.js"]

end

desc "Deploys the current version to the server."
task :deploy => :environment do

  deploy do
    invoke :'deploy:cleanup'
    invoke :'git:clone'
    invoke :'npm:install'
    invoke :'deploy:link_shared_paths'

    to :launch do
      queue! "gulp"
      queue! "pm2 startOrRestart ecosystem.json5 --env production"
    end
  end
end

task :logs => :environment do
  queue! %{
    pm2 logs | grep #{app_name}
  }
end