extend ../layouts/layout

block content
  script(src='/javascripts/admin.js')

  p hello pages home
  #info info-show
  #users users
  - each user in users
    #hello #{user['nickname']}

  button#start 准备倒计时！