extend ../layouts/layout

block content

  p hello pages home
  #info info-show
  #users users
  - each user in users
    .nickname #{user.nickname}
    .province #{user.province}
    .headimgurl #{user.headimgurl}

  button#start 准备倒计时！