.spinner {
  margin-top: 10%;
  padding-top: 5%;
}

.user-info, .openid{
  display: none;
}

.headimage {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  margin-top: 10%;
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.nickname {
  height: 5%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
  font-size:
  -webkit-xxx-large;
  text-align: center;
}

.num {
  height: 5%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
  font-size:
  -webkit-xxx-large;
  text-align: center;
}

